@charset "UTF-8";

body{
    background-color: lightblue;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: whitesmoke;
    background-color: blue;

}
h2{
    color: darkblue;
}
h3{
    color: darkblue;
}
p{
    text-align: justify;
}